{% extends "base.html" %}
{% block title %}Contact I-DECIDE{% endblock %}	
{% block maintitle %}
  <h2>Contact Us</h2>
{% endblock %}
{% block content %}

<!-- HOME/MENU PAGE -->
<!-- ###############################################################-->
<div class="menu-middle-780 break">
  <p>Please contact us with any questions you have about the I-DECIDE project.</p>
  <p><em>Phone:</em> 8344 4018</p>
  <p><em>Email:</em> i-decide@unimelb.edu.au</p> 

  </div>
<div class="menu-bottom" id="menu-bottom">
  {% include "copyright.html" %}
  
</div>
</div>
{% endblock %}
