{% extends "base.html" %}
{% block maintitle %}<h2>Your Details</h2>{% endblock %}
{% block content %}	
<!-- HOME/MENU PAGE -->
<!-- ###############################################################-->
<!--<div class="section-content content-margin">-->
<div class="menu-middle-780 break margin-top-30">
  <p>We need to collect your full name and a valid residential address. There are three reasons for this:</p>
<ol>
  <li>To keep you safe.</li>
  <li>To ensure that no fraudulent participants (including men) can access the website.</li>
  <li>To send you a Coles/Myer gift card to thank you for your participation.</li>
    </ol>
  <p>We will validate your details against the Australian Electoral Roll and will not use your details for any other purpose.</p>
<form action="{{ action }}" method="POST">
  <label for="first_name">First Name</label>
  <input name="first_name" id="first_name" placeholder="Your first name" required="required" />
  <label for="last_name">Last Name</label>
  <input name="last_name" id="last_name" placeholder="Your last name" required="required" />

  <label for="email">Safe, password-protected email address to send you login details for I-DECIDE</label>
  <input type="email" name="email" id="email" required="required"/>
<fieldset>
  <legend>Contact Details</legend>
  <label for="street_address1">Street Address 1</label>
  <input id="street_address1" name="street_address1" placeholder="eg. 123 Main St" />
  <label for="street_address2">Street Address 2</label>
  <input id="street_address2" name="street_address2" />
  <label for="city">Suburb / City</label>
  <input id="city" name="city" placeholder="eg. Melbourne CBD" />
  <label for="state">State</label>
  <select name="state">
<optgroup label="States">
    <option value="NSW">New South Wales</option>
    <option value="QLD">Queensland</option>
    <option value="SA">South Australia</option>
    <option value="TAS">Tasmania</option>
    <option value="VIC">Victoria</option>
    <option value="WA">Western Australia</option>
</optgroup>
<optgroup label="Territories">
  <option value="ACT">Australian Capital Territory</option>
    <option value="NT">Northern Territory</option>
    <option value="OT">Other Territory</option>
</optgroup>
  </select>
 <label for="postcode">Postcode</label>
  <input id="postcode" name="postcode" />
</fieldset>
<button type="submit" class="ui-btn ui-btn-up-c" name="details_submitted" value="submitted">Next</button>
</form>


</div>
<div class="menu-bottom" id="menu-bottom">
  {% include "copyright.html" %}
  
</div>
</div>
{% endblock %}
