{% extends "base.html" %}
{% block title %}I-DECIDE - A healthy relationship and safety decision aid website for women{% endblock %}	
{% block maintitle %}
  <h2>Your email address has already been registered with I-DECIDE</h2>
<p>Please contact the project team if you are having problems registering:</p>
<a class="purple-a" href='ma&#105;lt&#111;&#58;i%2Dd&#101;c%&#54;9d&#37;65&#64;unime&#108;&#98;%2E&#101;du&#46;a%75'>i-de&#99;&#105;de&#64;&#117;&#110;imelb&#46;ed&#117;&#46;&#97;u</a>
{% endblock %}
{% block content %}
<!-- HOME/MENU PAGE -->
<!-- ###############################################################-->
<div>&nbsp;</div>
<div class="menu-bottom" id="menu-bottom">
  {% include "copyright.html" %}
  
</div>
</div>
{% endblock %}
