{% extends "base.html" %}
{% block maintitle %}<h2>Registration</h2>{% endblock %}
{% block content %}	
<!-- HOME/MENU PAGE -->
<!-- ###############################################################-->
<div>
<form action="{{ action }}" method="POST">
<fieldset>
  <legend>Are you female?</legend>
  <label for="female-yes">Yes</label>
  <input type="radio" name="female" id="female-yes" value="yes" />
  <label for="female-no">No</label>
  <input type="radio" name="female" id="female-no" value="no" />
</fieldset>
<fieldset>
  <legend>Are you aged 16-50?</legend>
  <label for="age-yes">Yes</label>
  <input type="radio" name="age" id="age-yes" value="yes" />
  <label for="age-no">No</label>
  <input type="radio" name="age" id="age-no" value="no" />
</fieldset>
<fieldset>
  <legend>Has a <strong>partner</strong> in the last <strong>six months</strong> done <strong>ANY</strong> of the below (tick all that apply):</legend>
  <input id="unsafe" type="checkbox"  value="yes" name="partner_unsafe" />
  <label for="unsafe">Made you feel afraid or unsafe?</label>
  <input id="harrassed" type="checkbox"  value="harassed" name="partner_harrassed" />
  <label for="harrassed">Followed you or harassed you over the phone or online?</label>
  <input id="bullied" type="checkbox" value="yes" name="partner_bullied"/>
  <label for="bullied">Called you names, humiliated, bullied or criticised you, or threatened you in any way?</label>
  <input id="isolated" type="checkbox"  value="yes" name="partner_isolated"  />
  <label for="isolated">Isolated you from your family and friends or restricted your behaviour in any way?</label>
  <input id="harmed" type="checkbox" value="yes" name="partner_harmed"  />
  <label for="harmed">Physically harmed you in any way?</label>
  <input id="sexual" type="checkbox"  value="yes" name="partner_sexual"  />
  <label for="sexual">Forced you to do sexual things you didn’t want to?</label>
</fieldset>
<button type="submit" class="ui-btn ui-btn-up-c" name="eligible_submitted" value="submitted">Next</button>
</form>

</div>
<div class="menu-bottom" id="menu-bottom">
  {% include "copyright.html" %}
  
</div>
</div>
{% endblock %}
