{% extends "base.html" %}
{% block maintitle %}<h2>Welcome to the I-DECIDE project</h2>{% endblock %}
{% block content %}	
<!-- HOME/MENU PAGE -->
<!-- ###############################################################-->
<div class="section-content content-margin">
<div class="body-text margin-top-30 ">
  <p>Thanks for signing up to the project.</p>
  <p><a href="{{ login_url }}" class="btn-solid-purple btn-large margin-top-30">Login to I-DECIDE</a></p>

</div>
</div>
<div class="menu-bottom" id="menu-bottom">
  {% include "copyright.html" %}
  
</div>
</div>
{% endblock %}
