{% extends "base.html" %}
{% block title %}I-DECIDE - A healthy relationship and safety decision aid website for women{% endblock %}	
{% block maintitle %}
  <h2>Sorry, you are not eligible to participate in the I-DECIDE project at this time.</h2>
{% endblock %}
{% block content %}
<!-- HOME/MENU PAGE -->
<!-- ###############################################################-->
<div>&nbsp;</div>
<div class="menu-bottom" id="menu-bottom">
  {% include "copyright.html" %}
  
</div>
</div>
{% endblock %}
