{% extends "base.html" %}
{% block title %}I-DECIDE - A healthy relationship and safety decision aid website for women{% endblock %}	
{% block maintitle %}
  <h2>I-DECIDE &ndash; A healthy relationship and safety decision aid website for women</h2>
{% endblock %}
{% block content %}
<!-- HOME/MENU PAGE -->
<!-- ###############################################################-->
<div class="body-text">
<h3>Introducing the project</h3>
<p>Many women in Australia sometimes feel unsafe in their relationships, or worry that their relationships with their partners are not healthy. We are conducting a project to test a website that could increase knowledge about healthy relationships, improve safety planning, and help women make decisions when they are afraid of a partner or ex-partner.</p>

<p>We are inviting women (between 16 and 50 years of age) who have experienced relationship issues over the last 6 months and have safe computer and internet access to take part in this project. It is important that you carefully read this information before you make a decision to participate.</p>
</div>
<div class="body-text">
<h3>Who are the researchers?</h3>
<p>This project is being conducted by a team led by Kelsey Hegarty who is a general practitioner with an interest in women’s health. The project is based at the Department of General Practice at the University of Melbourne. It is funded through the Australian Research Council.</p>

<h3>What will I be asked to do?</h3>
<p>If you are eligible, a computer will randomly assign you to one of two groups: the ‘Resource’ group or the ‘Resource and Intervention group’. This means you will be assigned to a group by chance, like flipping a coin. You will receive an email with a link to a website, where you can log in with a secure username and password. You can access the website anytime, 24 hours a day, throughout the 12 months of the project. At the end of 12 months, women in the ‘Resource’ group will also have access to the intervention.</p>

<p>Whether you are in the ‘Resource’ group or the ‘Resource and Intervention’ group, you will be asked a series of questions about you and your partner and about your relationship and receive advice on safety planning and resources. The ‘Resource and Intervention’ group will also receive individual feedback based on risk and priorities. We expect it might take you up to an hour to complete everything, but you don’t have to do it all at once. After you have finished, you will receive a <strong>$40</strong> Coles/Myer gift card. Six months later, you will be asked to do another short survey online, and you will receive a <strong>$50</strong> Coles/Myer gift card. Twelve months after you first accessed the website, you will be asked to complete a final short survey, and you will receive a <strong>$60</strong> Coles/Myer gift card.</p>

<h3>Your safety and privacy</h3>
<p>Because your safety is vital, it is essential that you are able to access a computer and the internet in a safe, private environment (for example at a family member or friend’s place). The website contains an emergency exit feature that allows you to leave with one mouse click.</p>

<p>To learn more about being safe accessing the internet go to:</p>
<p>[Link to internet safety information]</p>

<p>To create a private e-mail account, go to: <a href="http://www.yahoo.com.au">www.yahoo.com.au</a> or <a href="http://www.hotmail.com">www.hotmail.com</a> or any other free webmail service and click on ‘create an account’.</p>

<p>Your responses and any information you give us are confidential (subject to legal requirements). Only the research team will have access. Information will be stored securely in accordance with the University of Melbourne guidelines for the conduct of projects. The project data and records will be kept for a minimum of five years after publication, or public release, of the work of the project. It will be then destroyed according to University guidelines.</p>

<h3>Withdrawing from the project</h3>
<p>If you decide to join this project, but later change your mind, it is your right to withdraw from the project at any time. Please leave a message on 8344 4018 or send us an e-mail:</p>
<p>womens-health@unimelb.edu.au to inform us that you would like to withdraw.</p>

<h3>Who can I talk to about this project?</h3>
<p>If you have any concerns regarding this project please get in touch with Laura Tarzia:</p>
<p>at womens-health@unimelb.edu.au or on (03) 8344 4018.</p>

<p>The following services are also available if being involved with this project raises sensitive issues that you would like to discuss further:</p>

<ul>
<li><strong>beyondblue info line</strong> - 1300 22 4636 www.beyondblue.org.au</li>
<li><strong>Relationships Australia</strong> - 1300 364 277 www.relationships.org.au</li>
<li><strong>1800-RESPECT</strong> - 1800 737 732 (24 hrs) www.1800respect.org.au</li>
<li><strong>DirectLine – Drug Counselling &amp; Information</strong> - 1800 888 236 (24h freecall)</li>
<li><strong>Lifeline</strong> 13 11 14 (24hr)</li>
<li><strong>Centre against sexual assault (CASA House)</strong> - 03 9635 3610/ 1800 806 292</li>
</ul>

<p>This project has been approved by the University of Melbourne’s Human Ethics Committee (HREC 1441780.1). Concerns regarding the way this project is being carried out should be reported to: The Manager, Human Project Ethics, Melbourne Project and Innovation Office, The University of Melbourne, Ph (03) 8344 2073</p>

<h3>How do I find out the results of this project?</h3>
<p>Once the project is complete, the results will be made available on our website at <a href="http://www.gp.unimelb.edu.au/i-decide">http://www.gp.unimelb.edu.au/i-decide</a> They will also be published in journal articles.</p>

<h3>Interested in participating?</h3>
<p>Thank you for carefully reading this information. If you are interested in taking part in this project press <strong>Next</strong>. If you choose not to take part in this project, exit this page.</p>

<h3>Project Investigators:</h3>
<p>Professor Kelsey Hegarty, Professor Cathy Humphreys, Dr Laura Tarzia, Ms Jodie Valpied, The University of Melbourne; Dr Angela Taft, La Trobe University; Dr Lisa Gold, Deakin University; Associate Professor Nancy Glass, Johns Hopkins University USA; Associate Professor Elizabeth Murray, University College London, UK.</p>

</div>
<div class="menu-bottom" id="menu-bottom">
  {% include "copyright.html" %}
  
</div>
</div>
{% endblock %}
