{% extends "base.html" %}
{% block title %}I-DECIDE - A healthy relationship and safety decision aid website for women{% endblock %}	
{% block maintitle %}
  <h2>Women’s Wellbeing Resource List</h2>
{% endblock %}
{% block content %}

<!-- HOME/MENU PAGE -->
<!-- ###############################################################-->
<div class="menu-middle-780 break">
                        <p>
                            <strong><em>If you ever require immediate assistance due to an unsafe situation, please call 000 (if in Australia).</em></strong>
                        </p>
                      
                      <ul>
                      	<li><p><strong>Beyondblue info line: </strong>  1300 22 4636  <a class="ui-link" href="http://www.beyondblue.org.au/" target="_blank">www.beyondblue.org.au</a></p></li>
                        <li><p><strong>Relationships Australia: </strong>  1300 364 277  <a class="ui-link" href="http://www.relationships.org.au/" target="_blank">www.relationships.org.au</a></p></li>
                         <li><p><strong>Lifeline: </strong>  13 11 14 (24 hrs)</p></li>
                         <li><p><strong>National Sexual Assault &amp; Domestic Family Violence Counselling Service (1800 RESPECT): </strong>  1800 737 732 (24 hrs)  <a class="ui-link" href="http://www.1800respect.org.au/" target="_blank">www.1800respect.org.au</a></p></li>
                         
                     
                         <li><p><strong>DirectLine - Drug Counselling &amp; Information: </strong>   1800 888 236 (24hrs)</p></li>
                         <li><p><strong>Centre against sexual assault: </strong>   1800 806 292  (03) 9635 3610</p></li>
                          <li><p><strong>PANDA (Post &amp; Antenatal Depression Helpline): </strong>   1300 726 306</p></li>
                         <li><p><strong>Quitline: </strong>   13 78 48</p></li>
                          <li><p><strong>Headspace: </strong>    <a class="ui-link" href="http://www.headspace.org.au/" target="_blank">www.headspace.org.au</a></p></li>
                      </ul>
                </div>
<div class="menu-bottom" id="menu-bottom">
  {% include "copyright.html" %}
  
</div>
</div>
{% endblock %}
