{% extends "base.html" %}
{% block title %}I-DECIDE - A healthy relationship and safety decision aid website for women{% endblock %}	
{% block maintitle %}
  <h2>Computer Safety</h2>
{% endblock %}
{% block content %}

<!-- HOME/MENU PAGE -->
<!-- ###############################################################-->
<div class="menu-middle-780 break">
<p>
                            Because your safety is vital, it is essential that you are able to access a computer and the internet in a safe, private environment (for example at a family member or friend’s place, a public library, or your workplace if appropriate). This website contains an emergency exit feature that allows you to leave with one mouse click, but we still recommend that you take care which computer you use it on. 
                        </p>
                        <p>Did you know that all modern browsers offer the option to access a web site in private without storing your history? This is called InPrivate Browsing, Private Browsing or Incognito Browsing. </p>
                        
                        
                        <div>
                                    <div id="#guide-incognito-intro">It looks like you're using the Firefox browser (this information will be browser-specific). Here are a few quick steps to start browsing safely.</div>
                                    <ol>
                                          <li id="#guide-incognito-step-1">The fastest way to enable Private Browsing is to press Ctrl + Shift + P.</li>
                                          <li id="#guide-incognito-step-2">You can also enable Private Browsing by clicking on the Menu icon (top right of Firefox) and then selecting New Private Window</li>
                                          <li id="#guide-incognito-step-3">Private Browsing will open in a new window for you. You can then open your email or I-DECIDE in that window.</li>
                                           <li id="#guide-incognito-step-4">If you need more help, simply Google 'Private Browsing' along with the name of your browser.</li>
                                     </ol>
                         </div>
                         
                         
                         <p>You should also know how to clear your browser history and cache after every time you use I-DECIDE. To learn about clearing your recent browsing history, go to:</p>
                            <p>
                                For Chrome
                            </p>
                            <p>
                                <a href="https://support.google.com/chrome/answer/95582?hl=en" target="_blank">https://support.google.com/chrome/answer/95582?hl=en</a>
                            </p>
                            <p>
                                For Firefox
                            </p>
                            <p>
                                <a href="https://support.mozilla.org/en-US/kb/remove-recent-browsing-search-and-download-history" target="_blank">
                                    https://support.mozilla.org/en-US/kb/remove-recent-browsing-search-and-download-history
                                </a>
                            </p>
                            <p>
                                For Internet Explorer
                            </p>
                            <p>
                                <a href="http://windows.microsoft.com/en-au/windows7/how-to-delete-your-browsing-history-in-internet-explorer-9" target="_blank">
                                    http://windows.microsoft.com/en-au/windows7/how-to-delete-your-browsing-history-in-internet-explorer-9
                                </a>
                            </p>
                            <p>
                                To learn more about being safe accessing the internet go to: <a href="http://whwest.org.au/family-violence/resources/using-the-internet-safely/"  target="_blank">http://whwest.org.au/family-violence/resources/using-the-internet-safely/</a>
                            </p>
                            <p>
                                To create a private e-mail account go to: <a href="http://www.yahoo.com.au/" target="_blank">www.yahoo.com.au</a> or <a href="http://www.hotmail.com/">www.hotmail.com</a> or any other free webmail service and click on ‘create an account’.
                            </p>
  </div>
<div class="menu-bottom" id="menu-bottom">
  {% include "copyright.html" %}
  
</div>
</div>
{% endblock %}
